In [42]:
import pandas as pd
import numpy as np

In [43]:
gdf=pd.read_csv('german_credit.csv')

In [44]:
gdf.columns

Index(['default', 'account_check_status', 'duration_in_month',
       'credit_history', 'purpose', 'credit_amount', 'savings',
       'present_emp_since', 'installment_as_income_perc',
       'personal_status_sex', 'other_debtors', 'present_res_since', 'property',
       'age', 'other_installment_plans', 'housing', 'credits_this_bank', 'job',
       'people_under_maintenance', 'telephone', 'foreign_worker'],
      dtype='object')

In [45]:
gdf.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [46]:
for feature in gdf.columns:
    if gdf[feature].dtype =='object':
           gdf[feature] =pd.Categorical(gdf[feature]).codes

In [47]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null int8
duration_in_month             1000 non-null int64
credit_history                1000 non-null int8
purpose                       1000 non-null int8
credit_amount                 1000 non-null int64
savings                       1000 non-null int8
present_emp_since             1000 non-null int8
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null int8
other_debtors                 1000 non-null int8
present_res_since             1000 non-null int64
property                      1000 non-null int8
age                           1000 non-null int64
other_installment_plans       1000 non-null int8
housing                       1000 non-null int8
credits_this_bank             1000 non-null int64
job                           1000 non-null int8
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null int8
foreign_worker                1000 non-null int8
dtypes: int64(8), int8(13)
memory usage: 75.3 KB

In [48]:
X=gdf.drop('default',axis=1)

In [49]:
y=gdf['default']

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30)

In [52]:
from sklearn.ensemble import RandomForestClassifier

In [53]:
rfst=RandomForestClassifier(n_estimators=8)

In [54]:
rfst.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=8,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [55]:
rfst.score(X_train,y_train)

0.9714285714285714

In [56]:
rfst.score(X_test,y_test)

0.7266666666666667